a {
    text-decoration: none;
    color: black;
}

body {
    background-color: aliceblue;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: aliceblue;
    border-color: aliceblue;
}
