a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(243, 244, 246);
    font-family: "Roboto", "Noto Sans Khmer", sans-serif;
}

.card {
    background-color: aliceblue;
    border-radius: 1rem;
}

/* rating */
.rating div {
    color: yellow;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating input {
    display: none;
}
.rating input + label {
    font-style: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating input:checked + label ~ label {
    color: #b4afaf;
}

.rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* end rating */

/* check */

.checked {
    color: rgb(239, 140, 69);
}

.search-bar {
    width: 35%;
    margin-left: 10%;
}

.whatapp-chat {
    bottom: 10px;
    left: 10px;
    position: fixed;
}

.img-scal {
    opacity: 1;
}
.img-scal:hover {
    transform: scale(1, 1.25);
}

/* html,
body,
footer {
    font-family: "Battambang", cursive;
    font-family: "Noto Sans Khmer", sans-serif;
    font-family: "Roboto", sans-serif;
} */
